<p-table [value]="datosTablaDetalle">
  <ng-template pTemplate="header">
    <tr>
      <th>Gramos a Ingerir</th>
      <th>Nombre</th>
      <th>Composición</th>
      <th>Usado Para</th>
      <th>Fecha Caducidad</th>
      <th>Número Pastillas</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-datosTablaDetalle>
    <tr>
      <td>{{datosTablaDetalle.gramosAIngerir}}</td>
      <td>{{datosTablaDetalle.nombre}}</td>
      <td>{{datosTablaDetalle.composicion}}</td>
      <td>{{datosTablaDetalle.usadoPara}}</td>
      <td>{{datosTablaDetalle.fechaCaducidad}}</td>
      <td>{{datosTablaDetalle.numeroPastillas}}</td>
    </tr>
  </ng-template>
</p-table>
