<div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h3>Crear Cabecera</h3>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div *ngFor="let atributo of arregloAtributos; let indice=index">
    <app-texto-input [tituloInput]='atributo'></app-texto-input>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <button mat-raised-button color="accent">Limpiar</button>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <button mat-raised-button color="accent">Crear</button>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
