<div class="row" style="padding-top: 40px;">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <app-carrusel></app-carrusel>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <app-crear-cabecera (pacienteCreado)="agregarPaciente($event)"></app-crear-cabecera>
  </div>
  <div class="col-sm-1"></div>
</div>
<br>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div *ngFor="let paciente of arregloPacientes let indice of index" class="col-sm-2">
      <button (click)="seleccionarCabecera(paciente)">
        {{paciente.Nombres + " " + paciente.Apellidos}}
      </button>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
<br>
<div class="row" style="padding-top: 100px;">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <app-crear-detalle (medicamentoCreado)="agregarMedicamento($event)"></app-crear-detalle>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <p-card title="Simple Card" [style]="{width: '360px'}">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
    </p-card>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="row" style="padding-top: 100px;">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <app-tabla-primeng [datosTablaDetalle]="pacienteSeleccionado.Medicamentos"></app-tabla-primeng>
  </div>
  <div class="col-sm-2"></div>
</div>
